{% extends "base.html" %}

{% block title %}
    <title>Add student</title>
{% endblock %}

{% block content %}
    <h2>Add student</h2>
    
    <div class="container">
        <form method="post" action="add_user">
            {% csrf_token %}
            <label for="student_id">Student ID</label>
            <input type="number" name="student_id" class="student_id" required>
      
            <label for="name">Name</label>
            <input type="text" name="name" class="name" required>

            <label for="surname">Surname</label>
            <input type="text" name="surname" class="surname" required>

            <label for="student_type">Student type</label>
            <div>
                <select name="student_type" id="std_type" required>
                    <option value="non-athlete">Non-athlete</option>
                    <option value="athlete">Athlete</option>
                </select>
            </div>

            <div id="sports_type" style="display: none;">
                <br>
                <label for="sports_type">Sports type</label>
                <input type="text" id="extraInput" class="student_id" name="sports_type">
            </div>

            <input type="submit" value="Save" class="savebtn">
            <a href="/" class="cancelbtn">Cancel</a>
        </form>
    </div>
{% endblock %}
