{% extends "base.html" %}

{% block title %}
    <title>Add student</title>
{% endblock %}

{% block content %}
    <h2>Add student</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong>{{message}}</strong>
            </div>           
        {% endfor %}
    {% endif %}
    <div class="container">
        <form method="post" action="add_user">
            {% csrf_token %}
            <label for="student_id">Student ID</label>
            <input type="number" name="student_id" class="student_id" required>
      
            <label for="name">Name</label>
            <input type="text" name="name" class="name" required>

            <label for="surname">Surname</label>
            <input type="text" name="surname" class="surname" required>

            <label for="student_type">Student type</label>
            <div>
                <select name="student_type" id="std_type" onchange="showSportsInput()" style="margin-top: 1%;" required>
                    <option value="non-athlete">Non-athlete</option>
                    <option value="athlete">Athlete</option>
                </select>
            </div>

            <div id="sp_type" style="display: none;">
                <br>
                <label for="sports_type">Sports type</label>
                <input type="text" id="extraInput" class="name" name="sports_type">
            </div>

            <input type="submit" value="Save" class="savebtn">
            <a href="/" class="cancelbtn">Cancel</a>
        </form>
    </div>
    <script>
        function showSportsInput() {
            var selectElement = document.getElementById("std_type");
            var additionalInputElement = document.getElementById("sp_type");
      
            // Check if the selected option is the one that requires additional input
            if (selectElement.value === "athlete") {
              additionalInputElement.style.display = "block";
            } else {
              additionalInputElement.style.display = "none";
            }
          }
    </script>
{% endblock %}
