{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/html2pdf.bundle.min.js' %}"></script>
    <script src="{% static 'js/apexcharts.min.js' %}"></script>
    {% block title %}
    {% endblock %}
</head>
<body>
    <div class="topnav">
        {% if user.is_authenticated %}
          <a class="active" href="/">Homepage</a>
          <a style="float: right;" href="{% url 'sign-out' %}">Sign out</a>
          <a style="float: right;">{{ user.username }}</a>          
        {% else %}
          <a class="active" href="/">Homepage</a>
          <a style="float: right;" href="sign-in">Sign in</a>
        {% endif %}
    </div>
        {% block content %}
        {% endblock %}
    <script>
      function SearchFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }       
        }
      }

      function SearchFunction2() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable2");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }       
        }
      }

      function showInput() {
          var select = document.querySelector("select");
          var input = document.querySelector("input");
      
          if (select.value == "random") {
              input.style.display = "block";
          } else {
              input.style.display = "none";
          }
      }
      function showRandomNumberInput() {
        var selectElement = document.getElementById("filename");
        var additionalInputElement = document.getElementById("RandomNumberInput");
  
        // Check if the selected option is the one that requires additional input
        if (selectElement.value === "random") {
          additionalInputElement.style.display = "block";
        } else {
          additionalInputElement.style.display = "none";
        }
      }

      function downloadPdf() {
        const element = document.getElementById('pdf-content');
        const options = {
                margin: 10,
                filename: 'test_result_all.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
            };
        html2pdf(element, options);
      }

      function downloadCSV() {
        var csvContent = "data:text/csv;charset=utf-8,";
        var rows = document.querySelectorAll('table tr'); // เลือกรายการที่ต้องการให้เป็น CSV
    
        rows.forEach(function (row) {
          var rowData = [];
          var cols = row.querySelectorAll('td, th');
          cols.forEach(function (col) {
            rowData.push(col.innerText);
          });
          csvContent += rowData.join(',') + "\n";
        });
    
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "test_result_all.csv");
        document.body.appendChild(link);
        link.click();
      }
    </script>
</body>
</html>
