{% extends "base.html" %}

{% block title %}
    <title>Edit student</title>
{% endblock %}

{% block content %}
    <h2>Edit student</h2>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <label for="student_id">Student ID</label>
            <input type="number" name="student_id" class="student_id" value="{{person.student_id}}">
      
            <label for="name">Name</label>
            <input type="text" name="name" class="name" value="{{person.name}}">

            <label for="surname">Surname</label>
            <input type="text" name="surname" class="surname" value="{{person.surname}}">
            
            <label for="student_type">Student type</label>
            <input type="text" name="student_type" class="surname" value="{{person.student_type}}">

            <input type="submit" value="Save" class="savebtn">
            <a href="/" class="cancelbtn">Cancel</a>
        </form>
    </div>
{% endblock %}
